/* CSS styles for the header navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0836f2;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.img1 {
    height: 60px;
    width: 60px;
    margin-right: 1em;
    border-radius: 2rem;
}

.logoName {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.nav1 {
    display: flex;
    color: white;
    justify-content: space-between;
}

.ul1 {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.li1 {
    margin-right: 10px;
    /* Add spacing between the navigation links */
}

.a1 {
    text-decoration: none;
    color:white;
}

.bar {
    display: none;
    color: white;
}

.navfinal {
    display: none;
}

.hero {
    display: flex;

}

.img {
    display: inline;
    width: fit-content;
    height: auto;
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    .logo {
        justify-content: space-between;
        /* Adjust the alignment of the logo and menu icon */
    }

    .nav1 {
        display: none;
        /* Hide the navigation links by default */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        position: relative;

    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .img{
        
        width: fit-content;
            height: auto;
    }

     .mob{
        color: white;
     }



}